.measurementsContainer
  h1
    font-size: xx-large

  div
    display: flex
    justify-content: space-around

    .performance
      border-radius: .75rem
      display: flex
      flex-direction: column
      align-items: center

      h2
        align-self: start

      .measurements
        justify-content: space-around
        align-items: center
        padding: .75rem 1.5rem

        background: var(--blue-gradient)
        border-radius: 1rem

        p
          margin: 0
          color: var(--white-grey)
          font-size: .875rem

        strong
          margin-block-start: 1rem
          margin-block-end: .5rem
          font-size: 36px

        .graphics
          background: var(--measurement-gradient)
          height: 12rem
          width: 12rem
          margin-right: 2rem
          border-radius: 50%
          transition: transform 2s
        
        .statistics
          flex-direction: column

        .selector
          padding: .5rem
          border: transparent
          border-radius: .9375rem
          font-size: medium
          font-family: Ubuntu, sans-serif
          
          background: var(--white-grey)

          position: relative
          top: -5rem

      .metrics
        width: 25rem
        display: flex
        justify-content: space-around
        padding: 2rem 1.5rem .75rem


        div // Each metric
          align-items: center

          &.smallFeature::after
            border-right: 1px solid var(--black)
            position: relative
            content: ""
            height: 50%
            width: 1.4375rem

          img
            width: 24px
            height: 24px
            margin: 0 .5rem
            
          div
            display: flex
            flex-direction: column
            font-size: 14px
            justify-content: center

            .feature
              font-size: small
              font-family: Ubuntu
              color: var(--black-2)

    .average
      // background: var(--blue-gradient)
